.wrapper{

    display: flex;
    flex-direction: row;
    border:1px lightgray solid;
    width:fit-content;
    gap:2rem;
    align-items: center;
    height: 3rem;

   
}

.wrapper img{

height: 3em;

}