.wrapper{

    display: flex;
    flex-direction: row;
    /*border:1px lightgray solid;*/
    /*width:fit-content;*/
    gap:.5rem;
    align-items: center;
    height: 3rem;

   
}

.wrapper img{

height: 3.6em;
margin-bottom: .7em;
}


@media (max-width:760px) {


.loggedInText{
font-size: .7em;

}


}