.wrapper{

   /* border:1px springgreen solid;*/
    display: flex;
 
    flex-direction: row;
    justify-content: flex-start;
    gap:1.5rem;
    padding-top: .5em;
    gap:8em
    

}
.wrapper2{

    /*border: 1px solid darkblue;*/
display:flex;
justify-content: flex-start;
width: 40vw;
}

.wrapper3{
    display:flex;
    justify-content: flex-end;
    /*border: 1px solid darkblue;*/
    width: 60vw;
gap:1.5em
}

.nav{
border:1px solid lightgray ;
width: 80vw;
margin: 0 auto;
}

.home{

    line-height: 3em;
}
@media (max-width:893px) {


.wrapper2{
   /* border:1px solid brown;  */ 
    display:flex;
    width: none;
    flex-direction: column;
    text-align: center;
     justify-content: center;

}
.wrapper3{
    /*border:1px solid green;  */ 
display:flex;
width: none;
flex-direction: column-reverse;
text-align: center;
 justify-content: center;
}

.nav{
padding: 0;
    /*line-height: 2em;*/
}

}


