.wrapper{

    /*border:1px springgreen solid;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:1.5rem;
    padding-top: .5em;
    

}

.nav{
border:1px solid lightgray ;
width: 80vw;
margin: 0 auto;
}

.home{

    line-height: 3em;
}
